
PortalHadafHayomi.xcodeproj/xcuserdata/Binyamin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

PortalHadafHayomi.xcodeproj/project.xcworkspace/xcuserdata/Binyamin.xcuserdatad/UserInterfaceState.xcuserstate
