<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>siri_instruction</key>
	<array>
		<string>siri_hahim_itkavanta_le</string>
		<string>siri_instruction_ChooseMagidShiur</string>
		<string>siri_instruction_ChooseMasehet</string>
		<string>siri_instruction_ChooseShiur</string>
		<string>siri_instruction_ChooswDaf</string>
		<string>siri_instruction_DidYouMeanPage</string>
		<string>siri_instruction_DidYouMeanToMagidShiur</string>
		<string>siri_instruction_DidYouMeanToMasechet</string>
		<string>siri_instruction_DidYouMeanToTheShiur</string>
		<string>siri_instruction_HadafHayomi</string>
		<string>siri_instruction_HelloAreYouInterstedHearingAShiur</string>
		<string>siri_instruction_NotFoundShiurimOf</string>
		<string>siri_instruction_OnMasehet</string>
		<string>siri_instruction_PleaseSayClearlyTheReqMasehetDafMagid</string>
		<string>siri_instruction_PleaseTryLater</string>
		<string>siri_instruction_ProblemWithInternetConnection</string>
		<string>siri_instruction_TheSystemLoadindTheReqShiur</string>
		<string>siri_instruction_TheSystemNotFoundTheReqShiur</string>
		<string>siri_instruction_ToTheDafYomi</string>
		<string>siri_instruction_try_agin</string>
		<string>siri_instruction_Welcome</string>
		<string>siri_instruction-TheSystemFoundProblem</string>
		<string>siri_magid_hashiur</string>
		<string>siri_masechet</string>
		<string>siri_page</string>
		<string>siri-instruction_TheShiurDidntFound</string>
	</array>
	<key>siri_masechet</key>
	<array>
		<string>siri_masechet_01</string>
		<string>siri_masechet_02</string>
		<string>siri_masechet_03</string>
		<string>siri_masechet_04</string>
		<string>siri_masechet_05</string>
		<string>siri_masechet_06</string>
		<string>siri_masechet_07</string>
		<string>siri_masechet_08</string>
		<string>siri_masechet_09</string>
		<string>siri_masechet_10</string>
		<string>siri_masechet_11</string>
		<string>siri_masechet_12</string>
		<string>siri_masechet_13</string>
		<string>siri_masechet_14</string>
		<string>siri_masechet_15</string>
		<string>siri_masechet_16</string>
		<string>siri_masechet_17</string>
		<string>siri_masechet_18</string>
		<string>siri_masechet_19</string>
		<string>siri_masechet_20</string>
		<string>siri_masechet_21</string>
		<string>siri_masechet_22</string>
		<string>siri_masechet_23</string>
		<string>siri_masechet_24</string>
		<string>siri_masechet_25</string>
		<string>siri_masechet_26</string>
		<string>siri_masechet_27</string>
		<string>siri_masechet_28</string>
		<string>siri_masechet_29</string>
		<string>siri_masechet_30</string>
		<string>siri_masechet_31</string>
		<string>siri_masechet_32</string>
		<string>siri_masechet_33</string>
		<string>siri_masechet_34</string>
		<string>siri_masechet_35</string>
		<string>siri_masechet_36</string>
		<string>siri_masechet_37</string>
		<string>siri_masechet_38</string>
		<string>siri_masechet_39</string>
		<string>siri_masechet_40</string>
	</array>
	<key>siri_magid</key>
	<array>
		<string>siri_magid_15</string>
		<string>siri_magid_16</string>
		<string>siri_magid_17</string>
		<string>siri_magid_18</string>
		<string>siri_magid_19</string>
		<string>siri_magid_20</string>
		<string>siri_magid_21</string>
		<string>siri_magid_24</string>
		<string>siri_magid_36</string>
		<string>siri_magid_37</string>
		<string>siri_magid_38</string>
		<string>siri_magid_40</string>
		<string>siri_magid_42</string>
		<string>siri_magid_43</string>
		<string>siri_magid_47</string>
		<string>siri_magid_50</string>
		<string>siri_magid_69</string>
		<string>siri_magid_71</string>
		<string>siri_magid_74</string>
		<string>siri_magid_76</string>
		<string>siri_magid_82</string>
		<string>siri_magid_94</string>
		<string>siri_magid_96</string>
		<string>siri_magid_98</string>
		<string>siri_magid_101</string>
		<string>siri_magid_103</string>
		<string>siri_magid_114</string>
		<string>siri_magid_116</string>
		<string>siri_magid_120</string>
		<string>siri_magid_122</string>
		<string>siri_magid_123</string>
		<string>siri_magid_125</string>
		<string>siri_magid_126</string>
	</array>
	<key>siri_page</key>
	<array>
		<string>siri_page_2</string>
		<string>siri_page_3</string>
		<string>siri_page_4</string>
		<string>siri_page_5</string>
		<string>siri_page_6</string>
		<string>siri_page_7</string>
		<string>siri_page_8</string>
		<string>siri_page_9</string>
		<string>siri_page_10</string>
		<string>siri_page_11</string>
		<string>siri_page_12</string>
		<string>siri_page_13</string>
		<string>siri_page_14</string>
		<string>siri_page_15</string>
		<string>siri_page_16</string>
		<string>siri_page_17</string>
		<string>siri_page_18</string>
		<string>siri_page_19</string>
		<string>siri_page_20</string>
		<string>siri_page_21</string>
		<string>siri_page_22</string>
		<string>siri_page_23</string>
		<string>siri_page_24</string>
		<string>siri_page_25</string>
		<string>siri_page_26</string>
		<string>siri_page_27</string>
		<string>siri_page_28</string>
		<string>siri_page_29</string>
		<string>siri_page_30</string>
		<string>siri_page_31</string>
		<string>siri_page_32</string>
		<string>siri_page_33</string>
		<string>siri_page_34</string>
		<string>siri_page_35</string>
		<string>siri_page_36</string>
		<string>siri_page_37</string>
		<string>siri_page_38</string>
		<string>siri_page_39</string>
		<string>siri_page_40</string>
		<string>siri_page_41</string>
		<string>siri_page_42</string>
		<string>siri_page_43</string>
		<string>siri_page_44</string>
		<string>siri_page_45</string>
		<string>siri_page_46</string>
		<string>siri_page_47</string>
		<string>siri_page_48</string>
		<string>siri_page_49</string>
		<string>siri_page_50</string>
		<string>siri_page_51</string>
		<string>siri_page_52</string>
		<string>siri_page_53</string>
		<string>siri_page_54</string>
		<string>siri_page_55</string>
		<string>siri_page_56</string>
		<string>siri_page_57</string>
		<string>siri_page_58</string>
		<string>siri_page_59</string>
		<string>siri_page_60</string>
		<string>siri_page_61</string>
		<string>siri_page_62</string>
		<string>siri_page_63</string>
		<string>siri_page_64</string>
		<string>siri_page_65</string>
		<string>siri_page_66</string>
		<string>siri_page_67</string>
		<string>siri_page_68</string>
		<string>siri_page_69</string>
		<string>siri_page_70</string>
		<string>siri_page_71</string>
		<string>siri_page_72</string>
		<string>siri_page_73</string>
		<string>siri_page_74</string>
		<string>siri_page_75</string>
		<string>siri_page_76</string>
		<string>siri_page_77</string>
		<string>siri_page_78</string>
		<string>siri_page_79</string>
		<string>siri_page_80</string>
		<string>siri_page_81</string>
		<string>siri_page_82</string>
		<string>siri_page_83</string>
		<string>siri_page_84</string>
		<string>siri_page_85</string>
		<string>siri_page_86</string>
		<string>siri_page_87</string>
		<string>siri_page_88</string>
		<string>siri_page_89</string>
		<string>siri_page_90</string>
		<string>siri_page_91</string>
		<string>siri_page_92</string>
		<string>siri_page_93</string>
		<string>siri_page_94</string>
		<string>siri_page_95</string>
		<string>siri_page_96</string>
		<string>siri_page_97</string>
		<string>siri_page_98</string>
		<string>siri_page_99</string>
		<string>siri_page_100</string>
		<string>siri_page_101</string>
		<string>siri_page_102</string>
		<string>siri_page_103</string>
		<string>siri_page_104</string>
		<string>siri_page_105</string>
		<string>siri_page_106</string>
		<string>siri_page_107</string>
		<string>siri_page_108</string>
		<string>siri_page_109</string>
		<string>siri_page_110</string>
		<string>siri_page_111</string>
		<string>siri_page_112</string>
		<string>siri_page_113</string>
		<string>siri_page_114</string>
		<string>siri_page_115</string>
		<string>siri_page_116</string>
		<string>siri_page_117</string>
		<string>siri_page_118</string>
		<string>siri_page_119</string>
		<string>siri_page_120</string>
		<string>siri_page_121</string>
		<string>siri_page_122</string>
		<string>siri_page_123</string>
		<string>siri_page_124</string>
		<string>siri_page_125</string>
		<string>siri_page_126</string>
		<string>siri_page_127</string>
		<string>siri_page_128</string>
		<string>siri_page_129</string>
		<string>siri_page_130</string>
		<string>siri_page_131</string>
		<string>siri_page_132</string>
		<string>siri_page_133</string>
		<string>siri_page_134</string>
		<string>siri_page_135</string>
		<string>siri_page_136</string>
		<string>siri_page_137</string>
		<string>siri_page_138</string>
		<string>siri_page_139</string>
		<string>siri_page_140</string>
		<string>siri_page_141</string>
		<string>siri_page_142</string>
		<string>siri_page_143</string>
		<string>siri_page_144</string>
		<string>siri_page_145</string>
		<string>siri_page_146</string>
		<string>siri_page_147</string>
		<string>siri_page_148</string>
		<string>siri_page_149</string>
		<string>siri_page_150</string>
		<string>siri_page_151</string>
		<string>siri_page_152</string>
		<string>siri_page_153</string>
		<string>siri_page_154</string>
		<string>siri_page_155</string>
		<string>siri_page_156</string>
		<string>siri_page_157</string>
		<string>siri_page_158</string>
		<string>siri_page_159</string>
		<string>siri_page_160</string>
		<string>siri_page_161</string>
		<string>siri_page_162</string>
		<string>siri_page_163</string>
		<string>siri_page_164</string>
		<string>siri_page_165</string>
		<string>siri_page_166</string>
		<string>siri_page_167</string>
		<string>siri_page_168</string>
		<string>siri_page_169</string>
		<string>siri_page_170</string>
		<string>siri_page_171</string>
		<string>siri_page_172</string>
		<string>siri_page_173</string>
		<string>siri_page_174</string>
		<string>siri_page_175</string>
		<string>siri_page_176</string>
	</array>
</dict>
</plist>
